<app-headers></app-headers>
<div class="container">
    <mat-card>
        <h4>Каквo е SuperVet?</h4>
        <h6>Supervet Ви помага да намерите добри ветеринарни лекари и веднага да резервирате час за преглед. Можете да търсите специалисти по име, специалност или населено място. След като резервирате своя час за преглед, той автоматично ще се появи във вашият
            профил.
        </h6>
        <h6>Ако Вие сте специалист и не търсите помощ за своя домашен любимец, а желаете да станете част от нашата общност с ветеринарни лекари, можете да ни изпратите вашите данни!</h6>
    </mat-card>

</div>
<img src="/assets/images/Pet_Care_Center.jpg">