<app-headers></app-headers>
<div class="row">
    <div class="col-6">
        <div class="center">
            <div class="col-6 col-sm-3">
                <button mat-raised-button color="primary" routerLink="search/doctor">Търси лекар</button>
            </div>
            <div class="w-100"></div>
            <div class="col-6 col-sm-3">
                <button mat-raised-button color="primary" routerLink="/become/doctor">Стани лекар</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <img src="/assets/images/vet-doctor.png">
    </div>
</div>