<!-- <h1>Welcome to Supervet</h1> -->
<div class="row">
    <div class="col-6">
        <div class="center">
            <div class="col-6 col-sm-3">
                <button mat-raised-button color="primary">Find a SuperVet</button>
            </div>
            <div class="w-100"></div>
            <div class="col-6 col-sm-3">
                <button mat-raised-button color="primary" routerLink="/become/doctor">Become a SuperVet</button>
            </div>
        </div>
    </div>
    <div class="col-6">.col-6</div>
</div>