<app-headers>
</app-headers>
<div class="container">
    <mat-card>
        <h4>Контакти</h4>
        <h6>SuperVet е платформа за онлайн резервацияя - можете да запазите час за преглед чрез един клик и при необходимост да откажете час чрез контакта оставен в съответния преглед.
        </h6>
        <h6>Ако изпитвате затруднения можете да ни пишете на имейла или да ни се обадите на телефона посочен по-долу.</h6>
        <h6>ВНИМАНИЕ! Това са контакти на платформата SuperVet, а не на ветеринарния лекар или клиника, с който се опитвате да се свържете. Телефоните на лекарите, можете да намерите в профила на съответния лекар.</h6>
        <div class="container-contacts">
            <h6 [ngStyle]="{'font-weight': 'bold'}">Телефон на SuperVet</h6>
            <h6>0892321455</h6>
            <h6 [ngStyle]="{'font-weight': 'bold'}">Имейл</h6>
            <h6>
                super.veterinary.clinic@gmail.com
            </h6>
        </div>
    </mat-card>

</div>
<img src="/assets/images/animals-care.jpg">