div {
    width: 30%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


/* h4,h6{
    margin-top: 50px;
    text-align:center;
} */

.container {
    text-align: center;
}

input {
    width: 100px;
}

.mat-input-element {
    width: 100%;
}